<div class="container-fluid h-100">
    <div class="row">
        <mat-toolbar>
            <span>Movie Graph Data</span>
        </mat-toolbar>
    </div>
    <div class="row m-3">
        <div class="col-2">
            <div class="row">
                <mat-form-field appearance="fill">
                    <mat-label>Actors</mat-label>
                    <mat-select [(ngModel)]="selectedActor">
                        <mat-option *ngFor="let actor of actorList" [value]="actor">{{actor.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <!-- <div class="row">
                <mat-form-field appearance="fill">
                    <mat-label>Characters</mat-label>
                    <mat-select multiple>
                        <mat-option>v1</mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->
            <div class="row">
                <mat-form-field appearance="fill">
                    <mat-label>Movies</mat-label>
                    <mat-select [(ngModel)]="selectedEnt">
                        <mat-option *ngFor="let ent of entChannel" [value]="ent">{{ent.name + ' (' + ent.type + ')'}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-10 border border-dark rounded">
            <app-graph-display [ActorSelected]="selectedActor"></app-graph-display>
        </div>
    </div>
</div>
